h1{
	background-color: lightblue;
	font-size: 50px;
	text-align: center;
}

img{
	width: 300px;
	border: 20px double pink;
	margin: 30px;

}

.left{
	float: left;
}

.right{
	float: right;
}